[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
opencv-python = "*"
numpy = "*"

[dev-packages]
pip = "*"
notebook = "*"

[requires]
python_version = "3.8"
